@charset "UTF-8";
body {
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1 {
    color: maroon;
    background-color: burlywood;
}
p {
    color: blue; text-align: justify;
}
h2 {
    color: blue; background-color: aqua;
}